server {
    # This port must match the right-side port of the proxy service in "compose.yaml".
    listen 8536;
    # The server_name is the IP/domain that will be used to connect to the server.
    server_name localhost;

    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;

    location / {
        proxy_pass http://umcu_api:8080;
    }
}
